<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    <form method="post">
        Your name: <input type="text" name="name">
        Your email: <input type="email" name="email">
        Your Phone: <input type="number" name="phone">
        Will you attend
        <select name="attendance">
            <option selected disabled>Choose an option</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <input type="submit" value="Submit RSVP">
    </form>
</body>
</html>
